{% extends 'base.html' %}
  <!-- Page Content -->
  {% block content %}

  <style>

    .like-container{
        width: 100px;
        height: auto;
        padding: 10px 10px 10px 10px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;

    }

.like-container button{
    background: none;
    border: none;
}

</style>




  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.user}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{post.created_on}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{post.image.url}}" alt="">

        <hr>

        <!-- Post Content -->
        <p>{{post.body}}</p>
        <hr>


        
        <div class="like-container">
          <p class="num-of-likes">{{post.likes.count}}</p>

          <form action="" method='POST'>
            {% csrf_token %}

            {% if msg %}

            <button>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
            </button>

            {% else %}

            <button>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
            </button>

            
            {% endif %}

           
            

          </form>


          
          

          <small>like</small>
      </div>



        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="POST" id = "commentForm">
              {% csrf_token %}
              {{form.author}}
              <br>
              {{form.body}}
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!-- <script>
          const form = document.getElementById('commentForm')/
          form.addEventListener('submit', stopRefresh)
          function stopRefresh(e){
            e.preventDefault()
            $.ajax({
              type : 'POST',
              url : "{% url 'blog_detail' post.slug %}",
              data : $('#commentForm').serialize(),
              dataType : 'json',
              success: function(data){
                if(data.msg == 'Success'){
                  form.reset()
                  alert('Comment added')
                }
              }
            })
          }
        </script> -->

        <!-- Single Comment -->
        {% for comment in comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.author}}</h5>
           {{comment.body}}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- <script>
        $(document).on('submit', '#commentForm', function(e){
          e.preventDefault()
          $.ajax({
            type : 'POST',
            url: "{% url 'blog_detail' post.slug %}",
            data:{
              author: $('#author').val(),
              body: $('#body').val(),
              csrfmiddlewaretoken:$('input[author = csrfmiddlewaretoken]').val(),
            },
            success: function(){

            }
          });
        });
      </script> -->
      <!-- <script>
        const form = document.getElementById('commentForm')
        form.addEventListener('submit', stopRefresh)
        function stopRefresh(e){
          e.preventDefault()
          $.ajax({
            type : 'POST',
            url : "{% url 'blog_detail' post.slug %}",
            data : $('#commentForm').serialize(),
            dataType : 'json',
            success: function(data){
              if(data.msg == 'success'){
                alert('Comment added')
              }
            }
          })
        }
      </script> -->
{% endblock %}